[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
seaborn = "*"
plotly = "*"
pandas = "*"
jupyter = "*"
click = "*"
typing = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
